<head>
    <link href="img/family-tree.png" rel="icon">

</head>
<body>
    
<h2><code><strong>SIGNUP FAILED</strong></code></h2>

<h3><strong>EMAIL ALREADY EXIST!</strong></h3>

<h3><strong>Go back to Login Page to SIGNUP Again !</strong></h3>

<a href="/" target="_parent"><button class="btx">Login Page</button></a>

<!-- <p><strong><input name="goback" class="btx" type="button" value="Login" onclick="fam.ejs"/></strong></p> -->
<style>.btx {
background-color: black;
color: yellow;
border-radius: 13px;
width: 120px;
height: 30px;
text-align: center;
font-style: bold;

}

.h2{
padding-left: 5rem;
}</style>
<hr />

</body>
