<head>

</head>

<title>Registered Sucessfully</title>
<body>
    
<h2><code><strong>Registered Sucessfully with Family Tree</strong></code></h2>

<h3><strong>Login To Create Your Own Family Tree</strong></h3>

<h3><strong>Go back to Login Page to Login !</strong></h3>

<a href="/" target="_parent"><button class="btx">Login</button></a>

<!-- <p><strong><input name="goback" class="btx" type="button" value="Login" onclick="fam.ejs"/></strong></p> -->
<style>.btx {
background-color: black;
color: yellow;
border-radius: 13px;
width: 120px;
height: 30px;
text-align: center;
font-style: bold;

}

.h2{
padding-left: 5rem;
}</style>
<hr />


</body>